<% if @job_id %>
  <script type="text/javascript">
    window.jobID = "<%= @job_id %>";
  </script>
  <div class="progress">
    <div class="progress-bar" style="width: 0%;min-width: 2em;">
      0%
    </div>
  </div>
  <div class="grub-gemfile"></div>
  <hr>
<% end %>
<div class="gemfile-form">
  <div class="gemfile-form__instructions">
    Grub will iterate through the gems listed in your Gemfile and for each gem, it will add a comment containing the description and the website of the gem. An example output looks like:
    <!-- Copied from actual usage -->
    <div class="CodeRay">
      <div class="code"><pre><span style="color:#777"># Rails application preloader (https://github.com/rails/spring)</span>
gem <span style="background-color:hsla(0,100%,50%,0.05)"><span style="color:#710">&quot;</span><span style="color:#D20">spring</span><span style="color:#710">&quot;</span></span></pre></div>
    </div>
    <!-- End of paste -->
    Upload your Gemfile or paste its contents in the textarea below and then hit Submit!
  </div>
  <% if @error_message %>
    <div class="alert alert-danger" role="alert"><%= @error_message %></div>
  <% end %>
  <form action="/" method="post" enctype="multipart/form-data">
    <span class="btn btn-default btn-file gemfile-form__upload">
        Browse <input id="gemfile-upload" type="file" name="gemfile-upload" />
    </span>
    <span class="gemfile-name"></span>
    <textarea rows="20" id="gemfile-textarea" name="gemfile-textarea" placeholder="Paste your Gemfile contents here"></textarea>
    <div class="submit">
      <input type="submit" class="btn btn-primary disabled submit-btn" />
    </div>
  </form>
</div>
