<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>AnnotateGem - Add comments to your Gemfile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="<%= stylesheet_path 'application' %>">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="page">
            <div class="heading">
                <h1 class="heading__title">
                    <i class="fa fa-file-text logo" aria-hidden="true"></i>
                    <a href="/">AnnotateGem</a>
                </h1>
                <span class="heading__description">Add comments to your Gemfile with each dependency's description</span>
            </div>
            <%= yield %>
        </div>
        <!-- https://css-tricks.com/snippets/css/sticky-footer/ -->
        <div class="footer">
            Created and designed with ♥️ from <a href="http://tseivan.com">Ivan Tse</a><br />You can view the source code for this web app at <a href="https://github.com/ivantsepp/annotate_gem-web">annotate_gem-web</a> and the underlying library and CLI at <a href="https://github.com/ivantsepp/annotate_gem">annotate_gem</a>
        </div>
        <script src="<%= javascript_path 'application' %>"></script>
    </body>
</html>
